@tailwind base;
@tailwind components;
@tailwind utilities;


/* The below allows me to apply global styling to certain elements */
@layer base {
    button {
        @apply border border-black rounded-xl px-4 py-1;
    }
    .sidepanelItems {
        @apply text-xl py-2 flex cursor-pointer hover:font-semibold hover:text-orange-500 hover:underline;
    }
}